*{
  margin: 0;
  padding: 0;
font-family: 'roboto';
}
.glass{
  background-image:linear-gradient(to bottom right, #ffffff33, #fdfafa0c);
  backdrop-filter: "blur(10px)"; 
}
.cardStyled{
  background-image: url(/userdashboard/public/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}